body{
    min-height: 400px;
    min-width: 400px;
}
.pageheader {
    margin-top: 10px;
}

.moveleft {
    margin-right: 10px;
}

.moveright {
    margin-left: 20px;
}
.addconnection{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.populateConnections {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.hide {
    display: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}
.progress {
    margin-bottom: 0;
}